body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav Active */
.App__navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

.App__navbar li {
  float: left;
}

.App__navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Ideas UL */
.ideas-front {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

/* Idea */
.idea {
  background-color: #ececec;
  min-width: 200px;
  border-radius: 4px;
  display: grid;
  min-height: 110px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.app__columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.app__column {
  display: flex;
  flex-direction: column;
}
